@font-face {
    font-family: "FZXiJinLJW";
    src: url(./assets/FZXiJinLJW.33937684.ttf) format("truetype")
}

a {
    color: inherit;
    text-decoration: none
}

html, body {
    padding: 0;
    margin: 0;
    overflow: hidden
}

#root {
    height: 100vh
}

.verses {
    font-family: 'FZXiJinLJW';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50vw;
    text-align: center;
    opacity: .8;
    word-break: keep-all
}

.verses #verses-content {
    font-size: calc(30px + 1vw);
    width: 80vw
}

.verses #verses-origin {
    display: flex;
    margin-top: 1em;
    font-size: calc(10px + 1vw);
    justify-content: center;
    align-items: center
}

.verses #verses-origin .stamp {
    color: #fff;
    background-color: #c20000;
    border-radius: 3px;
    padding: 3px 4px 3px 3px;
    margin: .5em;
    font-size: 67%;
    letter-spacing: -1px
}

.verses.horizontal {
    transition: top 500ms ease-in-out;
    animation: horizontalFadein 500ms ease-in
}

@keyframes horizontalFadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: .8
    }
}

.verses.vertical {
    text-align: left;
    top: 50vh;
    transform: translate(-50%, -80%);
    writing-mode: vertical-rl;
    animation: verticalFadein 500ms ease-in
}

@keyframes verticalFadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: .8
    }
}

.verses.vertical #verses-content {
    width: auto;
    line-height: 1.35
}

.verses.vertical #verses-origin {
    margin: 0;
    margin-right: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
    word-break: keep-all
}

.verses.vertical #verses-origin .stamp {
    padding: 3px 2px 4px
}

#verses-origin:hover .origin-search-icon {
    opacity: .5
}

.origin-search-icon {
    opacity: 0;
    transition: all 200ms ease-in
}

.blobs {
    top: 45vh
}

.waves {
    top: 30vh
}

#menu {
    position: absolute;
    left: 30px;
    bottom: 20px
}

#menu-btn {
    opacity: .6;
    cursor: pointer;
    transition: all 300ms ease;
    transform-origin: 50% 50%
}

#menu-btn:hover {
    opacity: 1
}

#menu-btn.open {
    opacity: 1;
    transform: rotate(45deg) scale(1.1)
}

#jizhi-search {
    position: absolute;
    top: 20px;
    left: 30px;
    display: flex;
    align-items: center;
    opacity: .4
}

#jizhi-search input {
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: none;
    width: 150px;
    font-size: 16px;
    color: #000;
    margin-left: -25px;
    padding-left: 35px;
    height: 40px;
    border-bottom: 2px #242424 solid;
    opacity: 0
}

#jizhi-search input:hover {
    opacity: .4
}

#jizhi-search input.active {
    opacity: .8
}

#color-name {
    font-family: "FZXiJinLJW";
    position: absolute;
    font-size: calc(100px + 5vw);
    right: 0;
    top: 0;
    color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    writing-mode: vertical-rl;
    white-space: nowrap;
    transform: translate(10%, -5%)
}

#color-name.fadeout {
    opacity: 0;
    animation: fadeOut 5s ease
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

