.pace {

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 320px;
  left: 0;
  right: 0;
  bottom: 0px;
  width: 200px;
  height: 25px;
  background:none;
}

.pace .pace-progress {


  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  -webkit-transition: width 1s ease-in-out 1s linear;
  -moz-transition: width 1s ease-in-out 1s linear;
  -ms-transition: width 1s ease-in-out 1s linear;
  -o-transition: width 1s ease-in-out 1s linear;
  transition: width 1s ease-in-out 1s linear;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: 190px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  height: 10px;
  font-size: 12px;
  background: #fff;
  color: #fff;
  line-height: 60px;
  font-weight: 300;
  
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: inline-block;
}

.pace.pace-inactive {
  display: none;
}